body{ 
background:  #0F3443;
background: linear-gradient(270deg, rgba(15, 52, 67, 1) 0%, rgba(52, 230, 159, 1) 100%);}


nav {
    width: 100%;
    background: #f0f0f0;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px; 
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
}

nav a:hover {
    color: blue; 
}
